wsCotizador/wsCotizadorBusiness/src/main/resources/wsdl/eso/MessageHeader_v1.0_ESO.xsd

<schema targetNamespace="http://cardif.cl/Schema/ESO/MessageHeader/v1.0" elementFormDefault="qualified" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://cardif.cl/Schema/ESO/MessageHeader/v1.0" xmlns:pref="http://cardif.cl/Schema/ESO/Result/v1.0" xmlns:Q1="http://cardif.cl/Schema/ESO/Error/v1.0">

    <annotation>
    	<documentation>Data structures representing metadata related to a certain Service Operation Execution.</documentation></annotation>
    <import schemaLocation="Result_v1.0_ESO.xsd" namespace="http://cardif.cl/Schema/ESO/Result/v1.0"/>
	<complexType name="MessageHeader_Type">
		<annotation>
			<documentation>
				It represents important metadata related to the
				execution of a certain service operation, during its
				original request, propagation and final response.
			</documentation>
		</annotation>
		<sequence>
			<element ref="tns:Consumer"/>
			<element ref="tns:Trace"/>
			<element ref="tns:Country"/>
			<element ref="tns:Channel"/>
			<element ref="tns:QoS" maxOccurs="1" minOccurs="0"/>
		</sequence>
	</complexType>

	<complexType name="Consumer_Type">
		<annotation>
			<documentation>
				Information about the Service Consumer.
			</documentation>
		</annotation>
		<sequence>
            <element ref="tns:Credentials" maxOccurs="1" minOccurs="0"/>
		</sequence>
		<attribute name="code" type="int" use="required">
			<annotation>
				<documentation>
					Unique Consumer Code. Represents the service
					consumer.
				</documentation>
			</annotation>
		</attribute>
		<attribute name="name" type="string">
			<annotation>
				<documentation>Consumer Name.</documentation>
			</annotation>
		</attribute>
	</complexType>

	<complexType name="Trace_Type">
		<annotation>
			<documentation>
				Meta-Information related to traceability, which uniquely
				identifies this particular execution.
			</documentation>
		</annotation>
		<sequence>
            <element ref="tns:Service" maxOccurs="1" minOccurs="0">
            	<annotation>
            		<documentation>
						Service that holds the control of the
						execution. This is expected to change each time
						a Service becomes statefull.
					</documentation>
            	</annotation></element>
            <element name="Component" minOccurs="0">
				<annotation>
					<documentation>
						Component that holds the control of the
						execution. This is expected to change each time
						a component becomes statefull.
					</documentation>
				</annotation>
				<complexType>
					<attribute name="code" type="string">
						<annotation>
							<documentation>
								Unique Component Code. This should not
								be sent by a Consumer Consumer, but
								populated by the Requested Component.
							</documentation>
						</annotation>
					</attribute>
					<attribute name="name" type="string">
						<annotation>
							<documentation>
								Name of the Component.  This should not
								be sent by a Consumer Consumer, but
								populated by the Requested Component.
							</documentation>
						</annotation>
					</attribute>
				</complexType>
			</element>
		</sequence>
		<attribute name="reqTimestamp" type="dateTime">
			<annotation>
				<documentation>
					Represents the date-time when the request was taken
					by the Service. This should not be sent by a Service
					Consumer, but populated by the Requested Service.
				</documentation>
			</annotation>
		</attribute>
		<attribute name="rspTimestamp" type="dateTime">
			<annotation>
				<documentation>
					Represents the date-time when the response was
					delivered by the Service. This should not be sent by
					a Service Consumer, but populated by the Requested
					Service.
				</documentation>
			</annotation>
		</attribute>
		<attribute name="messageID" type="int">
			<annotation>
				<documentation>
					Unique execution instance identifier. This should
					not be sent by a Service Consumer, but populated by
					the Requested Service.
				</documentation>
			</annotation>
		</attribute>
		<attribute name="correlationID" type="int">
			<annotation>
				<documentation>
					Unique correlation identifier, used to relate one
					excecution to another.
				</documentation>
			</annotation>
		</attribute>
		<attribute name="conversationID" type="int">
			<annotation>
				<documentation>
					Unique conversation identifier, used to relate
					different excecution.
				</documentation>
			</annotation>
		</attribute>
	</complexType>

	<complexType name="Channel_Type">
		<annotation>
			<documentation>
				It holds information about which channel is being used.
			</documentation>
		</annotation>
		<attribute name="code" use="required">
			<annotation>
				<documentation>
					Unique Channel Code. Represents the channel being
					used.
				</documentation>
			</annotation>
			<simpleType>
				<restriction base="string">
					<enumeration value="NI"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="mode" use="required">
			<annotation>
				<documentation>
					Unique channel Mode. Represents the mode on which
					the channel is being used.
				</documentation>
			</annotation>
			<simpleType>
				<restriction base="string">
					<enumeration value="NI"/>
				</restriction>
			</simpleType>
		</attribute>
	</complexType>

	<complexType name="Country_Type">
		<annotation>
			<documentation>
				Country from which a certain Service Operation is requested.
			</documentation>
		</annotation>
		<attribute name="code" type="int" use="required">
			<annotation>
				<documentation>
					Unique Country Code. Represents the Country from which
				the execution was made.
				</documentation>
			</annotation>
		</attribute>
		<attribute name="name" type="string">
			<annotation>
				<documentation>Name of the Country.</documentation>
			</annotation></attribute>
	</complexType>

	<complexType name="QoS_Type">
		<annotation>
			<documentation>
				Information regarding the quality of service expected by
				the Service Consumer, and that which is calculated
				during the Service Operation Execution.
			</documentation>
		</annotation>
		<attribute name="ttl" type="int">
			<annotation>
				<documentation>
					The expected execution completion time.
				</documentation>
			</annotation>
		</attribute>
		<attribute name="priority" type="int">
			<annotation>
				<documentation>
					The priority requested for this execution.
				</documentation>
			</annotation>
		</attribute>
		<attribute name="retryCount" type="int">
			<annotation>
				<documentation>
					How many times this Execution has been re-processed.
					This should not be sent by a Service Consumer, but
					populated by the Requested Service.
				</documentation>
			</annotation>
		</attribute>
		<attribute name="maxRetryCount" type="int">
			<annotation>
				<documentation>
					Maximum amount of re-processes this execution should
					have. This should not be sent by a Service Consumer,
					but populated by the Requested Service.
				</documentation>
			</annotation>
		</attribute>
	</complexType>

	<complexType name="Service_Type">
		<annotation>
			<documentation>Meta-Information about a Service, during a certain operation execution.</documentation>
		</annotation>
		<attribute name="code" type="string">
			<annotation>
				<documentation>
					Unique Service Code. Represents the Service being
					requested. This should not be sent by a Service
					Consumer, but populated by the Requested Service.
				</documentation>
			</annotation>
		</attribute>
		<attribute name="name" type="string">
			<annotation>
				<documentation>
					Name of the Service Being Requested. This should not
					be sent by a Service Consumer, but populated by the
					Requested Service.
				</documentation>
			</annotation>
		</attribute>
		<attribute name="operation" type="string">
			<annotation>
				<documentation>
					Name of the Operation being requested for the
					Service. This should not be sent by a Service
					Consumer, but populated by the Requested Service.
				</documentation>
			</annotation>
		</attribute>
	</complexType>



	<complexType name="RequestHeader_Type">
		<annotation>
			<documentation>
				It represents important metadata related to the
				execution of a certain service operation, during its
				request.
			</documentation>
		</annotation>
		<complexContent>
			<extension base="tns:MessageHeader_Type"/>
		</complexContent>
	</complexType>

	<complexType name="ResponseHeader_Type">
		<annotation>
			<documentation>
				It represents important metadata related to the
				execution of a certain service operation, during its
				response.
			</documentation>
		</annotation>
		<complexContent>
			<extension base="tns:MessageHeader_Type">
				<sequence>
					<element ref="pref:Result">
						<annotation>
							<documentation>Result information related to this response.</documentation>
						</annotation></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<element name="RequestHeader" type="tns:RequestHeader_Type">
		<annotation>
			<documentation>
				It represents important metadata related to the
				execution of a certain service operation, during its
				request.
			</documentation>
		</annotation>
	</element>

	<element name="ResponseHeader" type="tns:ResponseHeader_Type">
		<annotation>
			<documentation>
				It represents important metadata related to the
				execution of a certain service operation, during its
				response.
			</documentation>
		</annotation>
	</element>

	<complexType name="Credentials_Type">
        <annotation>
        	<documentation>Security related information, that allows a Consumer to access a certain service operation.</documentation>
        </annotation>
        <attribute name="user" type="string">
			<annotation>
				<documentation>The username being used for executing this service. Its mainly used for Security Constraints Validations.</documentation>
			</annotation></attribute>
		<attribute name="password" type="string">
			<annotation>
				<documentation>The password being used for executing this service. Its mainly used for Security Constraints Validations.</documentation>
			</annotation></attribute>
	</complexType>

	<element name="Credentials" type="tns:Credentials_Type">
		<annotation>
			<documentation>Security related information, that allows a Consumer to access a certain service operation.</documentation></annotation></element>


	<element name="Service" type="tns:Service_Type">
		<annotation>
			<documentation>Meta-Information about a Service, during a certain operation execution.</documentation>
		</annotation></element>


	<element name="Country" type="tns:Country_Type"/>
	
    <element name="Consumer" type="tns:Consumer_Type"/>
    
    <element name="Channel" type="tns:Channel_Type"/>

    <element name="QoS" type="tns:QoS_Type"/>

    <element name="Trace" type="tns:Trace_Type"/>
</schema>